@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root {
    --brown: #e76a04b5;
    --black: #192a56;
    --light-color: #666;
    --font-color: #fff;
    --box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, 0.1);
}

* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    transition: all .2s linear;
    background-attachment: fixed;
    background-repeat: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background: fixed;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url('/assets/image/Coffee\ cup.jpg');
    background-size: auto;
}

section {
    padding: 2rem 9%;
}

section:nth-child(event) {
    background: #eee;
}

.sub-heading {
    text-align: center;
    color: var(--brown);
    font-size: 2rem;
    padding-top: 9rem;
}

.heading {
    text-align: center;
    color: var(--black);
    font-size: 3rem;
    padding-bottom: 5rem;
    text-transform: uppercase;
}

.btn {
    margin-top: 5rem;
    display: inline-block;
    font-size: 1.7rem;
    color: var(--font-color);
    background: var(--brown);
    border-radius: 3rem;
    cursor: pointer;
    padding: 1rem 4rem;
}

.btn:hover {
    background: var(--brown);
    letter-spacing: .1rem;
}

/*Body of the webpage*/
.content {
    width: 100%;
    position: relative;
    top: 50%;
    text-align: center;
    color: var(--font-color);
    transform: scale(1);
}

.content.active-content {
    transform: scale(0);
}

.home .content-heading {
    color: var(--font-color);
    text-align: center;
    font-size: 3rem;
    padding-top: 15rem;
}

.home .content-p {
    color: var(--font-color);
    text-align: center;
    font-size: 2rem;
    padding-top: 6rem;
}

.home .content-btn {
    align-items: center;
    gap: 2rem;
    margin-top: 5rem;
    display: inline-block;
    font-size: 1.7rem;
    color: var(--font-color);
    background: var(--brown);
    border-radius: 3rem;
    cursor: pointer;
    padding: 1rem 4rem;
}


/* Media queries */

@media (max-width: 991px) {
    html {
        font-size: 55%;
    }

    header {
        padding: 1rem 2rem;
    }

    section {
        padding: 2rem;
    }

}

@media (max-width: 768px) {

    header .icons #menu-bars {
        display: inline-block;
    }

    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: var(--font-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        border-bottom: .1rem solid rgba(0, 0, 0, .2);
        padding: 1rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header .navbar a {
        display: block;
        padding: 1.5rem;
        margin: 1rem;
        font-size: 2rem;
        background: #eee;
    }

    #search-form #search-box {
        width: 90%;
        margin: 0 1rem;
    }

    .home .home-slider .slide .content h3 {
        font-size: 5rem;
    }

    .form_container {
        left: 60%;
        top: -320px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 320px;
        width: 100%;
        transform: translate(-50%, -50%);
        z-index: 101;
        padding: 30px;
        border-radius: 12px;
        background: var(--font-color);
        box-shadow: rgba(0, 0, 0, 0.1);
        transform: scale(0);
        transition: transform .5s ease;
    }

}

@media (max-width: 991px) {
    html {
        font-size: 50%;
    }

    .dishes .box-container .box img {
        height: auto;
        border-radius: 4rem;
        width: 100%;
    }

    .form_container {
        left: 25%;
        top: -250px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 320px;
        width: 100%;
        transform: translate(-50%, -50%);
        z-index: 101;
        padding: 30px;
        border-radius: 12px;
        background: var(--font-color);
        box-shadow: rgba(0, 0, 0, 0.1);
        transform: scale(0);
        transition: transform .5s ease;
    }

}