@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root {
    --main-color: #be701b;
    --bg: #000000;
    --light-color: #666;
    --font-color: #fff;
    --btn-color: rgb(41, 99, 215);
    --box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, 0.1);
}

* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    transition: all .2s linear;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
    /* background: var(--font-color); */
    background-size: auto;
}

body {
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    text-decoration: none;
}

/* Register form */
form {
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .4);
    background: #fff;
    text-align: center;
    width: 500px;
}

form h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

form input,
form select {
    width: 80%;
    padding: 10px 15px;
    font-size: 14px;
    margin: 8px 0;
    background: #eee;
    border-radius: 5px;
}

form select option {
    background: #fff;
}

form .form-btn {
    background: #eee;
    color: rgba(0, 0, 0, .8);
    text-transform: capitalize;
    font-size: 15px;
    cursor: pointer;
}

form .form-btn:hover {
    background: var(--main-color);
    color: var(--font-color);
}

form p {
    margin-top: 14px;
    font-size: 15px;
    color: rgba(0, 0, 0, .8);
    font-weight: 700;
}

form p a {
    color: var(--main-color);
}

form .error-msg {
    margin: 10px 0;
    display: block;
    background: var(--header-background-color);
    color: crimson;
    border-radius: 5px;
    font-size: 18px;
    padding: 10px;
}

.name,
.email,
.password,
.confirm-password {
    position: relative;
}

.name i,
.email i,
.password i,
.confirm-password i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    user-select: none;
    font-size: 14px;
}